@{
    ViewData["Title"] = "Home Page";
}

<div class="IndexDiv">
    <p>
        <h1 class="text-center font-weight-bolder">HR Platforme</h1>
    </p>
    <hr />
    <div class="row m-2">
        <div class="col-8">
            <p>
                <h5>Easiest and Effective way to Maintain your Employees.</h5>
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/HR.png" class="img-fluid">
        </div>
    </div>

</div>
